@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

/*Variables*/
:root {
  --c-dark: #040404;
  --c-white: #fff;
  --c-red: #bb131b;
  --c-grey: #333;
  --f-main: "Bai Jamjuree", sans-serif;
  --bg-gradient: linear-gradient(to left, #0b0a0a, #371516, #62181c, #8e171e, #bb131b);
  --transform: translateY(-100%);
  --transition: all .5s cubic-bezier(.15, .8, .4, 1);
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}
  
body {
  color: var(--c-white);
  font-family: var(--f-main);
  height: 100vh;
  background: var(--c-dark) url('./assets/images/mr_robot_wall.jpg') no-repeat center center/cover;
}

.container {
  margin: auto;
  padding: 0 1.25rem;
  max-width: 72rem;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  height: 16rem;
}

header img {
  padding-top: 1.5rem;
  width: 16rem;
}

.search {
  height: 6rem;
}

.search input[type='search'] {
  display: block;
  margin: auto;
  outline: none;
  width: 60%;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  color: var(--c-white);
  background-image: var(--bg-gradient);
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;  
}

.card {
  overflow: hidden;
  position: relative;
  width: 16rem;
  height: 24rem;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 90%;
  object-fit: contain;
  transition: var(--transition);
}

.card h2 {
  font-size: 1.25rem;
  color: var(--c-red);
}

.card-content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 1.5rem;
  background-color: var(--c-grey);
  transition: var(--transition);
}

.card:hover {
  border-left: 0.25rem var(--c-red) solid;
  border-bottom: 0.25rem var(--c-red) solid;
} 

.card:hover .card-content {
  top: 0;
}

.card:hover img {
  transform: var(--transform);
}

.card h1 {
  width: 75%;
  font-size: 1.5rem;
  color: var(--c-white);
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem var(--c-white) solid;
}

.card ul {
  padding-left: 0;
}

.card li {
  font-size: medium;
  padding-bottom: 0.6rem;
  list-style: none;
}

.button-see-more {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 10rem;
  height: 3.25rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--c-dark);
  background-image: var(--bg-gradient);
}

.button-see-more:hover {
  color: var(--c-white);
  border-color: var(--c-white);
}

footer {
  padding-top: 2rem;
  width: 100%;
  height: 20rem;
  margin-top: 4rem;
  background-image: var(--bg-gradient);
}

.column-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer h4 {
  padding-bottom: 1rem;
  font-size: 1rem;
  color: var(--c-white);
}

footer h4:hover {
  color: var(--c-dark);
}

footer p {
  color: var(--c-white);
}

.icons-container {
  padding-top: 0.75rem;
}

footer a {
  color: var(--c-white);
}

footer a:hover {
  color: var(--c-dark);
}

.line {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  width: 24rem;
  height: 0.075rem;
  background-color: var(--c-white);
}

footer img {
  padding-top: 0.25rem;
  width: 6rem;
  height: 6rem;
}

footer img:hover {
  scale: 1.08;
}

/*Media queries*/
@media (max-width: 900px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  header img {
    padding-top: 5rem;
  }

  .search input[type='search'] {
    width: 65%;
  }

  .cards-grid {
    grid-template-columns: 1fr;
    place-items: center;
  }
}